// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6; // #c5c8c6;
@light-gray: #969896;// #969896;
@gray: #373b41; //#373b41;
@dark-gray: #282a2e; // #282a2e;
@very-dark-gray: #1d1f21; // #1d1f21;

@cyan: #6bd6fa;// #8abeb7;
@blue: #feb3ea;// #81a2be;
@purple: #fd35c8;// #b294bb;
@green: #fc03ba; // #e302a7; // #b10282;// #b5bd68;
@red: #f3ff00; // #cc6666;
@orange: #c588dd; //#de935f;
@light-orange: #d8b0e8; // #f0c674;

@m_darkest: #320125; //#4A0237;
@m_dark: #63034a; // #5c2173;
@m_mid: #95e1fb;
@m_light: #fc08bb;
@m_lightest: #f3ff00;
