@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @m_mid;
@syntax-cursor-color: @m_mid;
@syntax-selection-color: lighten(@m_darkest, 10%);
@syntax-background-color: @m_darkest;

// Guide colors
@syntax-wrap-guide-color: @m_light;
@syntax-indent-guide-color: lighten(@m_darkest, 15%);
@syntax-invisible-character-color: lighten(@m_darkest, 10%);

// For find and replace markers
@syntax-result-marker-color: @m_light;
@syntax-result-marker-color-selected: @m_lightest;

// Gutter colors
@syntax-gutter-text-color: @m_light;
@syntax-gutter-text-color-selected: @m_darkest;
@syntax-gutter-background-color: darken(@m_darkest, 2%);
@syntax-gutter-background-color-selected:lighten(@m_darkest, 25%);

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
